* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5 */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  /* Only works if there is nothing absolutely positioned in relation to body */
  /* overflow-y: hidden; */
  overflow: scroll;
  font-family: sans-serif;
  /* HIDE SCROLL BAR */
}

::-webkit-scrollbar {
  width: 0px;
}

.instructions-sections-container::-webkit-scrollbar {
  width: 6px !important;
  background-color: #e5ccc3;
  border-radius: 100px;
}

.instructions-sections-container::-webkit-scrollbar-thumb {
  width: 10px !important;
  background: linear-gradient(120deg, #6047df, #e5ccc3);
  border-radius: 100px;
}

body {
  position: relative;
}

.play-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.instructions-heading {
  text-align: center;
  font-size: 4rem;
  background-image: linear-gradient(80deg, #ca9885, #6047df);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.instructions-heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructions-sections-container {
  display: flex;
  justify-content: center;
  background-color: #f8f5f3;
  margin: 5rem;
  border-radius: 1.5rem;
  padding: 4rem;
  height: 40rem;
  overflow-y: auto;
}

.span {
  font-weight: 700;
}

.instructions-intro-paragraph {
  margin-bottom: 3rem;
}

.instructions-parent {
  width: 60rem;
}

.instructions-sub-heading {
  font-size: 2.3rem;
  color: #6047df;
  margin-bottom: 2rem;
}

.section li,
.instructions-intro-paragraph {
  font-size: 1.6rem;
  line-height: 3rem;
  color: #474444;
}

.section {
  margin-bottom: 5rem;
}

.instructions-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 4rem !important;
  transform: translateY(-10rem);
}

.sub-list {
  padding-left: 2rem;
}

.main-container {
  margin: 10rem auto;
  width: 100rem;
  background-color: #f8f5f3;
  border-radius: 1.5rem;
  padding-top: 1rem;
  overflow: hidden;
  transition: all 1.5s;
}

.instructions {
  height: 5rem;
  padding-left: 3rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.hidden {
  display: none !important;
}

.hidden-instructions {
  opacity: 0;
  transform: translateY(4rem);
}

.reveal-instructions {
  opacity: 1;
  transition: all 1.5s;
}

.hidden-xaxis {
  transform: translateY(10rem);
  opacity: 0;
  transition: all 1s;
  display: none;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.heading {
  text-align: center;
  margin-top: 2rem;
  font-size: 5rem;
  color: #6047df;
  font-weight: bold;
}

.math {
  color: #de9b83;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #474444;
  font-size: 1.4rem;
  margin: 2rem auto;
  width: 60rem;
  padding-bottom: 10rem;
  transition: all 1.5s;
  line-height: 2.5rem;
}

.intro-paragraph {
  width: 43rem;
  text-align: center;
  margin-top: 2rem;
}

.game-on-paragraph {
  color: #474444;
  font-size: 1.4rem;
  padding-bottom: 10rem;
}

.intro-btns {
  display: flex;
  gap: 2rem;
  margin-top: 8rem;
  height: 5rem;
  width: 35rem;
  justify-content: center;
  align-items: center;
}

.timed-btn,
.instructions-btn,
.submit,
.view-score-btn,
.try-again,
.clear-btn,
.play-btn {
  border: none;
  outline: none;
  width: 13rem;
  height: 4.5rem;
  color: white;
  border-radius: 1.5rem;
  background: linear-gradient(45deg, #e5ccc3, #6047df);
  box-shadow: 0px 0px 30px rgb(172, 153, 153);
}

.submit,
.clear-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-btn {
  z-index: 5;
}

.submit-clear-btns {
  display: flex;
  gap: 7rem;
}

.submit-icon,
.clear-icon {
  padding-left: 0.5rem;
  color: #f2f2f7;
  height: 2.4rem;
  width: 2.4rem;
}

.timed-btn:hover,
.submit:hover,
.instructions-btn:hover,
.untimed-btn:hover,
.view-score-btn:hover,
.try-again:hover,
.clear-btn:hover,
.play-btn:hover {
  width: 13.5rem;
  height: 5rem;
  transition: all 0.5s;
}

.untimed-btn {
  border: none;
  border: thin solid #6047df;
  background: white;
  color: #474444;
  outline: none;
  width: 13rem;
  height: 4.5rem;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 10px rgb(172, 153, 153);
}

.target {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.target-text,
.score-text {
  color: #6047df;
  font-size: 2.5rem;
}

.target-number,
.score-number {
  text-align: center;
  font-size: 5rem;
  background: linear-gradient(80deg, #e5ccc3, #6047df);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.count-down {
  text-align: center;
  font-size: 4rem;
  color: #e5ccc3;
}

.game {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  transition: all 2s;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 25rem;
  width: 100%;
  background: linear-gradient(80deg, #e5ccc3, #6047df);

  padding: 0rem 2rem 0rem 2rem;
  margin-bottom: 5rem;
  transition: all 2s;
  padding-bottom: 7rem;
}

.buttons {
  display: flex;
  margin-top: 10rem;
  gap: 2rem;
}

.btn {
  height: 5rem;
  width: 5rem;
  background-color: #e5ccc3;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  transition: all 1s;
}

.math-operator-btns {
  display: flex;
  gap: 2rem;
}

.math-operator-btns .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50rem;
  background: linear-gradient(45deg, #e5ccc3, #6047df);
  color: white;
  font-size: 2rem;
  border: thin solid white;
  box-shadow: 0px 0px 20px rgb(105, 108, 146);
}

.buttons .btn {
  font-size: 1.6rem;
  font-weight: bolder;
  color: #6047df;
}

.input-field-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  transition: all 2s;
  gap: 3rem;
}
.input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  border: thin solid #6047df;
  padding-left: 3rem;
  padding-right: 3rem;
  outline: none;
  height: 5rem;
  width: 30rem;
  transition: all 2s;
  background-color: white;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #6047df;
  font-family: Arial, Helvetica, sans-serif !important;
  letter-spacing: 2px;
}

.clear-btn .btn_level_container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  transition: all 2s;
}

.completed {
  transform: translateY(0rem);
  transition: all 1.5s;
}

.view-score-btn,
.try-again {
  margin-top: 6rem;
  cursor: pointer;
}

.results {
  transform: translateY(5rem);
  transition: all 1.5s;
}

.arrow-btn {
  height: 2.4rem;
  width: 2.4rem;
  color: #614cc0;

  animation-name: slideLeft;
  animation-duration: 1s;

  animation-iteration-count: infinite;
}

@keyframes slideLeft {
  50% {
    transform: translateX(0.5rem);
  }
}
